extends layout

block content
    h6 Toutes Les Pizzas

    each bibli in tableaubibli
        div.form-group
            label(for='telephone') telephone :
            input.form-control(type='text', placeholder= bibli.telephone name='telephone')
            br
            label(for='commune') commune :
            input.form-control(type='text', placeholder= bibli.commune name='commune')
            br
            label(for='services_proposes') services_proposes :
            input.form-control(type='text', placeholder= bibli.services_proposes name='services_proposes')
            br
            label(for='nomrue') nomrue :
            input.form-control(type='text', placeholder= bibli.nomrue name='nomrue')
            br
            br
            label(for='descoll') descoll :
            input.form-control(type='text', placeholder= bibli.descoll name='descoll')
            br
            label(for='codepostal') codepostal :
            input.form-control(type='text', placeholder= bibli.codepostal name='codepostal')
            br
            label(for='nometablissement') nometablissement :
            input.form-control(type='text', placeholder= bibli.nometablissement name='nometablissement')
            br
            br
            label(for='heuresouverture') heuresouverture :
            input.form-control(type='text', placeholder= bibli.heuresouverture name='heuresouverture')
            br
                label(for='refBibli') refBibli :
                input.form-control(type='text', placeholder= bibli.refBibli name='refBibli')
            a(href='/bibliotheque/del/' + bibli.nometablissement)
                button.btn.btn-primary(type='button') Del

            a(href='/bibliotheque/edit/' + bibli.nometablissement)
                button.btn.btn-primary(type='button') Edit
