header
    .collapse.bg-dark#navbarHeader
        .container
            .row
                .col-sm-8.col-md-7.py-4
                    h4.text-white Ajouter une bibliotheque ?
                    p.text-muted xxxx
                    a(href='/AddNewBibli')
                        button.btn.btn-primary(type='button') Ajouter une bibliotheque
    nav.navbar.navbar-dark.bg-dark.shadow-sm
        .container.d-flex.justify-content-between
            a.navbar-brand.d-flex.align-items-center
                strong Les Bibliotheques
            button.navbar-toggler.collapsed&attributes({'data-toggle': 'collapse'}, {'data-target': '#navbarHeader'})
                span.navbar-toggler-icon